.js-add-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 80px;
    margin-right: 20px;
}

.js-save-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.todotxt__grid {
    max-width: 800px;
}

.todotxt__list {
    width: 100%;
}

.todotxt__item td:first-child {
    width: 1%;
}

.todotxt__item.js-done {
    text-decoration: line-through !important;
}

.todotxt__item .project {
    color: #de3226;
}

.todotxt__item .context {
    color: #4caf50;
}

#edit {
    position: relative;
}

.todotxt__edit {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 64px;
    left: 0px;
    right: 0px;
}

.todotxt__edit .edit_box{
    width: 100%;
    height: 100%;
}
.todotxt__edit .js-save-item-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 80px;
    margin-right: 20px;
}
