.js-save-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.todotxt__grid {
    max-width: 800px;
}

.todotxt__list {
    width: 100%;
}

.todotxt__item td:first-child {
    width: 1%;
}

.todotxt__item.js-done {
    text-decoration: line-through !important;
}

.todotxt__item .project {
    color: #de3226;
}

.todotxt__item .context {
    color: #4caf50;
}
