.js-add-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.todotxt__grid {
    max-width: 800px;
}

.todotxt__list {
    width: 100%;
}
