<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>todo.txt</title>

    <link rel="stylesheet" href="static/lib/mdl/material.min.css">
    <script src="static/lib/mdl/material.min.js"></script>
    <script src="static/lib/marionette/jquery.js"></script>
    <script src="static/lib/marionette/underscore.js"></script>
    <script src="static/lib/marionette/json2.js"></script>
    <script src="static/lib/marionette/backbone.js"></script>
    <script src="static/lib/marionette/backbone.babysitter.js"></script>
    <script src="static/lib/marionette/backbone.wreqr.js"></script>
    <script src="static/lib/marionette/backbone.marionette.min.js"></script>
    <script src="static/js/todo_txt.js"></script>
    <link rel="stylesheet" href="static/lib/mdl/icon.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    
</head>
<body>
    <div class="todotxt mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout-icon"><i class="material-icons">assignment turned in</i></div>
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">todo.txt</span>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div id="content" class="todotxt__grid mdl-grid">
            </div>
            <div id="edit">
            </div>
            <button class="js-add-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
-                <i class="material-icons">add</i>
            <button class="js-save-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">save</i>
            </button>
        </main>
    </div>
    <script id="todo-list" type="text/template">
    <tbody>
    </tbody>
    </script>
    <script id="todo-item" type="text/template">
        <td class="mdl-data-table__cell--non-numeric">
            <label class="js-checkbox mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="row_<%= cid %>">
                <input type="checkbox" id="row_<%= cid %>" class="mdl-checkbox__input"
                <% if(done) {print('checked');} %>
                />
            </label>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            <%= line %>
            <span class="project"><% _.each(projects, function(project) {print(' ' + project)}); %></span>
            <span class="context"><% _.each(contexts, function(context) {print(' ' + context)}); %></span>
        </td>
    </script>
    <script id="todo-edit" type="text/template">
        <textarea class="edit_box" rows="4" cols="50" placeholder="Please type todo">
        </textarea>
            <button class="js-save-item-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">save</i>
            </button>
    </script>
</body>
</html>
